<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Ik kan welzijn">
    <meta name="keywords" content="welzijn, zorg, techniek">
    <meta name="author" content="ROC van Twente">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/ikwz/assets/style/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/ikwz/assets/style/global.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Ik kan welzijn</title>
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="banner">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href=@Url.Action("Index", "Home")> <img src="~/ikwz/assets/images/ikwz_logo.svg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Over ons", "About", "Home")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Activiteiten", "Index", "activiteitens")
                        </li>
                        @if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Activiteiten toevoegen", "Create", "activiteitens")
                            </li>
                        }
                        <li class="nav-item">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="banner-content">
                <div class="banner-title">Ik kan welzijn.</div>
                <div class="banner-description">IkkanWelzijn is een platform met een unieke samenwerking tussen zorginstellingen, cultuur-natuurinstellingen, verenigingen, gemeenten en onderwijsinstellingen in Noordoost- Twente.</div>
                <a class="button color-purple" href=@Url.Action("Contact", "Home")>Meer informatie</a>
            </div>
        </div>
        <div class="topContent"></div>
    </div>



    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-3 text-center">
                    <div class="heading text-center">Tekst</div>
                    
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    
                </div>
                <div class="col-3 text-center">
                    <div class="heading text-center">Tekst</div>
                    
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    
                </div>
                <div class="col-3 text-center">
                    <div class="heading text-center">Tekst</div>
                    
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    
                </div>
                <div class="col-3 text-center">
                    <div class="heading text-center">Tekst</div>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </div>
            </div>
            <div class="line"></div>
            &copy; Copyright @DateTime.Now.Year  - IkKanWelzijn.

            <div class="right">Ontwikkelt door studenten van het ROC van Twente.</div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
