@model Ikkanwelzijn.Models.activiteiten

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>activiteiten</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.activiteitnaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activiteitnaam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.activiteitdatum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activiteitdatum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.activiteitplaats)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activiteitplaats)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.activiteitbeschrijving)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activiteitbeschrijving)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.activiteiturl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activiteiturl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.analogeclienten.voorkeur1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.analogeclienten.voorkeur1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.clienten.clientnaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.clienten.clientnaam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.organisatie.organisatienaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.organisatie.organisatienaam)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.activiteitid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
