@model IEnumerable<Ikkanwelzijn.Models.activiteiten>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.activiteitnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activiteitdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activiteitplaats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activiteitbeschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activiteiturl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.analogeclienten.voorkeur1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienten.clientnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organisatie.organisatienaam)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.activiteitnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activiteitdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activiteitplaats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activiteitbeschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activiteiturl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.analogeclienten.voorkeur1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienten.clientnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organisatie.organisatienaam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.activiteitid }) |
                @Html.ActionLink("Details", "Details", new { id=item.activiteitid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.activiteitid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
