@model IEnumerable<Ikkanwelzijn.Models.clienten>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clientvoornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientachternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienttussenvoegsel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientwoonplaats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientadres)
            <th>
                @Html.DisplayNameFor(model => model.organisatie.organisatienaam)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clientvoornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientachternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienttussenvoegsel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientwoonplaats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientadres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organisatie.organisatienaam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.clientid }) |
                @Html.ActionLink("Details", "Details", new { id=item.clientid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.clientid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
